<%= form_with(model: hero, local: true) do |form| %>
  <% if hero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hero.errors.count, "error") %> prohibited this hero from being saved:</h2>

      <ul>
        <% hero.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :str %>
    <%= form.number_field :str %>
  </div>

  <div class="field">
    <%= form.label :int %>
    <%= form.number_field :int %>
  </div>

  <div class="field">
    <%= form.label :agi %>
    <%= form.number_field :agi %>
  </div>

  <div class="field">
    <%= form.label :luk %>
    <%= form.number_field :luk %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
