<p id="notice"><%= notice %></p>

<h1>Heros</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Str</th>
      <th>Int</th>
      <th>Agi</th>
      <th>Luk</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heros.each do |hero| %>
      <tr>
        <td><%= hero.name %></td>
        <td><%= hero.image %></td>
        <td><%= hero.str %></td>
        <td><%= hero.int %></td>
        <td><%= hero.agi %></td>
        <td><%= hero.luk %></td>
        <td><%= link_to 'Show', hero %></td>
        <td><%= link_to 'Edit', edit_hero_path(hero) %></td>
        <td><%= link_to 'Destroy', hero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hero', new_hero_path %>
